{% load templatetag_handlebars %}
    {% tplhandlebars "online_user_display" %}
    <div class="yarn-sidebar-user-list">
        <ul>
            {{#each online_users}}
            <li>
                <div class="user_avatar">
                    {{#if avatar_url}}
                        <img src="{{avatar_url}}" class="user_avatar {{login_name}}"/>
                    {{/if}}
                </div>
                <span class="user_name"><a href="javascript:void(0);" class="private_chat" rel="{{ login_name }}">{{name}}</a></span>
                <span class="user_id">{{login_name}}</span>
                <div class="cf"></div>
            </li>
            {{/each}}
        </ul>
    </div>

{% endtplhandlebars %}
