{% load templatetag_handlebars %}
    {% tplhandlebars "artifact_display" %}
        <li class="artifact" id="artifact_{{id}}">
            <div class="yarn-artifact-left">
                <span class="artifact-timestamp">{{ format_time timestamp }}</span>
                <span class="artifact_avatar">
                    {{#if author.avatar_url }}
                        <img src="{{author.avatar_url}}"/>
                    {{/if}}
                </span>
            </div>
            <div class="yarn-artifact-right">
                <span class="artifact_user"><a href="javascript:void(0);" class="private_chat" rel="{{ author.login_name }}">{{ author.name }}</a></span>
                <span class="artifact_user_id">{{ author.login_name }}</span>
                <div class="artifact_content">
                    {{#if_eq type "file" }}
                        {{#if is_image }}
                            <img src="{{ thumbnail_url }}" id="artifact_img_{{id}}" onload="adjust_thread_scroll({{ id }}, {{thread_id}})" /> <br />
                        {{/if }}
                        <a href="{{ download_url }}">Download</a> {{ file_name }}
                    {{else}}
                        {{ formatted_artifact description }}
                    {{/if_eq }}
                </div>
            </div>
            <!--
            {{#if_eq type "online_notice"}}
                -- online notice -- <br >
            {{else}}
               ok <br />
            {{/if_eq}}
            Time: {{ timestamp }} <br />
            type : {{ type }} <br />
            id: {{ id }} <br />
            bot: {{ bot }} <br />
            description: {{ description }} <br />
            formatted: <div>{{formatted_artifact description}} </div>
            -->
        </li>
    {% endtplhandlebars %}
