
{% load templatetag_handlebars %}
    {% tplhandlebars "preload_initial_thread_display" %}

    <div id="thread_{{ thread_id }}" class="content_area yarn-content-module"></div>
    {% endtplhandlebars %}

    {% tplhandlebars "artifact_history_display" %}
    <div id="thread_history_artifacts_{{thread_id}}">
        <ul>
            {{#each artifacts}}
                {{{ artifact }}}
            {{/each}}
        </ul>
    </div>
    {% endtplhandlebars %}
    {% tplhandlebars "initial_thread_display" %}
    
    <div id="thread_{{ thread_id }}" class="yarn-content-module">
        
        <div id="thread_history_{{ thread_id }}" style="display: none;">
            <div class="yarn-history">
                Thread history <a href="javascript:void(0);" rel="{{ thread_id }}" class="close-history">Close</a>
                <div class="yarn-history-thread">
                <div id="thread_history_artifacts_{{thread_id}}"></div>
                </div>
            </div>
            <div class="yarn-sidebar">
                <div id="thread_calendar_{{ thread_id }}">
                </div>
            </div>
        </div>
        <div id="thread_live_{{ thread_id }}">
            
            <!-- static date bar -->
            <div id="thread_datebar_static_{{ thread_id }}" class="yarn-date-bar-static">
            </div> 
                      
            <!-- scrolling chat area -->    
            <div class="yarn-artifacts yarn-chat" id="artifact_container_{{thread_id}}">
                
                <ol class="yarn-chat-list" id="yarn_artifact_list_{{thread_id}}">
                    {{#each artifacts}}
                        {{{ artifact }}}
                     {{/each}}
                </ol>
                
            </div>
            
            
            <div class="channel-upload yarn-upload-preview clearfix" id="artifact_upload_preview_{{thread_id}}" style="display: none;">
                <div style="float: left;">
                    <strong>Preview your files before posting:</strong>
                    <br />
                    <a href="javascript:void(0);" class="upload_artifact" rel="{{thread_id}}">Post</a>
                    <a href="javascript:void(0);" class="cancel_upload_artifact" rel="{{thread_id}}">Cancel</a>
                </div>
                <div style="float: left;" class="upload_file_info"><span id="file_upload_name_{{thread_id}}"></span><br/><img id="upload_image_preview_{{thread_id}}" style="display: none;"></div>
            </div>

            
            <!-- anchored input area -->
            <div class="yarn-input clearfix channel_input">
                <div class="pull-left"><strong>topic:</strong>&nbsp;&nbsp;<span class="thread_topic_{{thread_id}}">{{ topic }}</span></div>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;
                    <input type="file" class="artifact_upload_chooser" style="display:none;" id="artifact_upload_chooser_{{ thread_id }}" onchange="handle_artifact_upload(this.files, {{ thread_id }})"/>
                    <a href="javascript:void(0);" class="artifact_upload_interface" rel="{{thread_id}}">UP <span class="glyphicon glyphicon-paperclip"></span></a>
                    
                </div>

                <textarea id="artifact_text_input_{{thread_id}}" class="form-control thread-text-input-{{ thread_id }}" placeholder="Type something..."></textarea>
                    
                <div class="channel-sub-actions" style="display:none;">
                    
                    <div class="open_help_icon">HP
                        <div class="formatting_help_text">
                            <div class="formatting_background">
                                <div class="commands-container">
                                <h3>Text commands</h3>
                                <dl>
                                    <dt><strong>/topic <em>new text</em></strong></dt>
                                    <dd>changes the discussion topic</dd>
                                    <dt><strong>/me <em>status text</em></strong></dt>
                                    <dd>posts a status</dd>
                                    <dt><strong>/pm <em>@username</em></strong></dt>
                                    <dd>opens a private message thread with that person</dd>
                                    <dt><strong>@username</strong></dt>
                                    <dd>sends a direct message to that person within the current thread (visible to everyone)</dd>
                                    <dt><strong>/invite <em>@username</em> to <em>#threadname</em></strong></dt>
                                    <dd>sends a message inviting that person to the thread</dd>
                                </dl>
                                </div>
                                <div class="formatting-container">
                                <h3>Formatting</h3>
                                <dl>
                                    <dt><strong>*bold text*</strong></dt>
                                    <dt><em>_italic text_</em></dt>
                                    <dt><strong><em>_*bold and italic text*_</em></strong></dt>
                                    <dt><strong><em>#threadname</em></strong></dt>
                                    <dd>creates link to the thread</dd>
                                    <dt>http://www....</dt>
                                    <dd>URLs will automatically be clickable when posted</dd>
                                </dl>
                                </div>
                                <br clear="both"/>
                            </div>
                            <span class="yarn-help-popin-arrow"></span>
                        </div>
                    </div>
                </div>
                
                
                                <div class="channel-upload" id="artifact_uploading_{{thread_id}}" style="display: none;">
                    Uploading...
                </div>
            </div>
        </div>
    </div>


{% endtplhandlebars %}
