
{% load templatetag_handlebars %}
    {% tplhandlebars "initial_thread_display" %}

    <div class="artifact_list" id="thread_{{ thread_id }}">
        {{#each artifacts}}
            <div style="border: 1px solid #555; margin: 10px;">
            Time: {{ timestamp }} <br />
            type : {{ type }} <br />
            id: {{ id }} <br />
            bot: {{ bot }} <br />
            description: {{ description }} <br />
            </div>
        {{/each}}
    </div>


{% endtplhandlebars %}
