/* `Default Yarn (mobile) styles
---------------------------------------- */
/* The body will work like a 'div#wrapper': add the background of the page to the 'html' tag and the background of the wrapper to the 'body' tag */

.thread-meta-count .members { color: #ef3e36 }

.search_hl { background-color: yellow; }

.custom_calendar_wrapper { width: 200px; height: 210px; }

.upload_hidden { visibility: hidden; left: -10000px; position: absolute; }

#avatar_cropped_image { max-width: none; }

.user_chooser { position: fixed; }
.person_match .person_img { float: left }
.person_match .person_data{ float: left }
.person_clear { height: 0px; clear: both; }
.thread_clear { height: 0px; clear: both; }

.yui3-aclist-item-active { background-color: gray; }

.soldevtoolbar { display: none; }


.clear { clear: both; height: 0; }
.offscreen { position: absolute; left: -999em; }



/* Global: Messaging */

#sol_message_container { position: fixed; top: 10px; line-height: 28px; }
#sol_message_container .message { margin-bottom: 2px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
#sol_message_container .error { background-color: #fe5050;  }
#sol_message_container .info { background-color: #019ccd; }
#sol_message_container .info a { color: black; }
#sol_message_container .info a.dismiss_invite { position: absolute; right: 10px; color: #fe5050; text-decoration: none; }
#sol_message_container .warning { background-color: #f7a94d; }
#sol_message_container .success  { background-color: #2cb36d; }
#sol_message_container .sol-message-success  { background: transparent; background-color: #2cb36d; padding: 0; }

html { }
body { width: 100%; margin: 0 auto; font:14px sans-serif; *font-size:small; *font:x-small; line-height:1.44;  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: none; overflow: hidden; }

a, a:visited { color: #00ABE2; }

/* Global: Loading Spinner */
.yarn-loading { width: 200px; position: absolute; left: 50%; margin-left: -100px; text-align: center; background: transparent url(../images/loading.gif) no-repeat center center; line-height: 40px; top: 50%; margin-top: -30px; text-indent: -9999px; }
.yarn-zero-items, 
.no-results { width: 75%; position: absolute; left: 50%; margin-left: -40%; line-height: 40px; top: 50%; margin-top: -30px; text-align: center; color: #aaa; }

/* Global: Highlight Phrase in Messages */
.highlight_phrase { color: #ef3e36; font-weight: bold; padding: 1px 2px; background-color: #feeff0; margin-left: 1px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

/* Mobile: YUI Scroller */
.yui3-scrollview{ position: absolute !important; top: 45px; bottom: 40px; left:0; right: 0; overflow: auto !important; z-index: 0; }
 
/* Mobile: Header */
.yarn-header { background:#673A93; color:#fff; height:45px; position:fixed; top:0; width:100%; z-index: 1; }
.yarn-header p { margin: 0; padding: 0 5px; }
.yarn-header-inner { border: none; }
.yarn-header-left { width:30%; float:left;line-height:45px; }
.yarn-header-logo { display: inline-block; margin: 0px 0px 5px 5px; line-height: 35px; }
.yarn-header-logo { background: transparent url(../images/yarn-logo.png) no-repeat left -1px;}
.yarn-header-logo a, .yarn-header-logo a:visited { display:inline-block; line-height: 35px; white-space: nowrap; text-decoration: none; color:#fff; font-size: x-large; text-indent: -9999px; width: 60px; }
.yarn-header-logo a:hover { color: #333; }  
.yarn-header-title { width: 30%; float:left; text-align:center; line-height:45px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.yarn-header-right { width:auto; float:right; font-size: x-small; }
.yarn-header-settings { display: inline-block; display: none; /*width: 40px; background: url('../images/mobile/gear.png') no-repeat 50% 50%; background-color: #0298c8;*/ margin: 5px 5px 5px 0; overflow: hidden;}
.yarn-header-settings a { display: inline-block; /*width:40px;*/ line-height: 35px; white-space: nowrap; /*text-indent: -9999px;*/ }
.yarn-header-users { display: inline-block;  display: none !important; /*width: 40px; background: url('../images/mobile/group.png') no-repeat 50% 50%; background-color: #0298c8;*/ margin: 5px 5px 5px 0; overflow: hidden;}
.yarn-header-users a { display: inline-block; /*width:40px;*/ line-height: 35px; white-space:nowrap; /*text-indent: -9999px;*/  }
.yarn-header-user-name { display: inline-block;line-height: 35px; margin: 5px 5px 5px 0;  }
.yarn-header-mobile-actions { display: block; font-size: smaller; }

/* Mobile: Content */

#tab_view { } 
#history_container.hidden { display: none; }
#thread_list_container.hidden { display: none; }

/* Mobile: Footer */
.yarn-footer { display: block; position: fixed; bottom: 0; left: 0; right: 0;  line-height: 40px; background-color: #888; color: #fff; z-index: 1; }
.mobile-tabs { display: block; }
.copyright { display: none; }

/* Mobile: Homescreen */

.home-available h3, .home-active h3 { border-bottom: solid 1px #ddd; }

.home-create { display: none; }
/*.home-available { display: none; }*/

.home-available li.loaded_thread { display: none; } /* hide active threads from the available list */
.home-active .create-tab-new { display: none; }

#thread_list_display .thread-status-private { display: none;}
#thread_list_display .private .thread-status-private { display: inline; position: absolute; top: 8px; left: 10px; width:auto !important; }

/* Mobile: Headers */
h3 { font-size: 90%; text-align: center; color: #58595b; text-transform: uppercase; line-height: 19px; padding-left: 10px; margin: 0; letter-spacing: .5px; }
    
#thread_list_container { margin-bottom: 40px; } 
#channel_container { padding-bottom: 127px; } /* slightly higher than the height of text input and footer */
#history_container {  }  

#thread_list_display { }
#thread_list_display ul { margin-bottom: 0; }
#thread_list_display li { border-bottom: solid 1px #ddd; list-style: none; padding: 0 10px 10px 10px; position: relative; }
#thread_list_display li a { display: block; line-height: 40px; text-decoration: none; white-space: nowrap; text-indent: 12px; font-size: 120%; overflow: hidden; text-overflow: ellipsis; }
#thread_list_display li span { width: 45%; overflow: hidden; text-overflow: ellipsis; }
#thread_list_display img { margin: 0; padding: 0; vertical-align: middle; }

.thread-title { display: block; }
.thread-topic { padding-left: 10px; }
.thread-topic-display {width:208px;
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ & FF & CSS3 */}
.thread-topic a { display: inline-block !important; line-height: normal !important; font-size: 100% !important; text-indent: 0 !important; color: #00ABE2 !important; font-weight: normal !important; vertical-align: bottom !important; } /* hyperlink in topic */
.thread-meta { padding-left: 10px; font-size: 11px; }

.thread-meta-message-alert, .thread-meta-message-notify, .thread-meta-new-added { display: none; }
.thread-meta-count { margin-right: 10px; }

/*.loaded_thread { background-color: #eee; }*/
.loaded_thread a, .loaded_thread a:visited { font-weight: bold; }

#channel_display { ma }

#channel_tabs.hidden { display: none; }

/*#channel_tabs { position: fixed; bottom: 15%; left: 50%; width: 50%; background-color: #e0e0e0; display: none; }*/

#channel_tabs div { padding: 0; }
#channel_tabs a { display: inline-block; padding: 0 10px; }
#channel_tabs .current { background-color: #fff; }

.channel_input { position: fixed; bottom: 40px; left: 0px; right: 0px; background-color: #aaa; }
.channel_input .channel-textarea { padding: 10px; }
.channel_input textarea { height: 35px; width: 100%; max-width: 100%; padding: 0; resize: none; }

#user_list_container { background-color: #ddd; margin: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
#user_list_container ul { }
#user_list_container li { list-style: none; border-bottom: solid 1px #ccc; padding: 5px; }
#user_list_container .user_avatar { float: left; }
#user_list_container .user_avatar img { width: 40px; margin: 0 5px 0 0; }

#user_settings_display { background-color: #ddd; margin: 10px; padding: 10px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.thread_top_padding { height: 45px; } /* height of header */

/* Tab Navigation */
.yarn-tab-navigation { display: none; }
    

/* Sidebar */    
.yarn-sidebar {position:fixed; top: 45px; bottom: 60px; right: 0px; width: 50px; background-color: #777; display: none; }

.yarn-sidebar ul { padding: 6px; }
.yarn-sidebar li { list-style:  none; margin-bottom: .5em; font-size: smaller; }

.yarn-sidebar .user_avatar { float:left; }
.yarn-sidebar .user_avatar img { /*width: 40px;*/ margin-bottom: 0; }
.yarn-sidebar .user_name { display: none; }
.yarn-sidebar .user_id { display: none; }

.yarn-sidebar-show-users { display: none; }

.yarn-artifacts { }
.yarn-artifacts ul { margin-bottom: 0; }
.yarn-artifacts li { overflow: hidden; text-overflow: ellipsis; list-style: none; border-bottom: solid 1px #ddd; padding: 5px }

.artifact_timestamp { color: #aaa; display: block; width: 80px; float: right; text-align: right; border: solid 1px transparent; font-size: smaller; }
.artifact_date { display: block; margin: 0; font-weight: bold; text-align: center; color: #555; background-color: #f2f2f2; margin: -5px; font-size: x-small; }
.artifact_avatar { float: left; display: inline-block; width: 30px; height: 30px; overflow: hidden; margin-right: 5px; }
/*.artifact_avatar img { width: 30px; margin-bottom: 0; }*/
.artifact_content { display: block; margin-left: 35px; }
.artifact_content a, .artifact_content a:visited  { color: blue; text-decoration: underline; white-space: nowrap; }
.artifact_user { font-size: 95%; }
.artifact_user_id { color: #000; font-size:95%; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }


/* Mobile: Threads */

.upload-container { display: none; }
.input-helper { display: none; }

.channel-topic { padding: 5px 10px 0 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }



.channel_input .yui3-aclist-content { display: none; }

.mobile-hidden { display: none; }

/* `Wide mobile devices styles
---------------------------------------- */

/* @media only screen and (max-width: 480px) and (orientation:landscape) {
    #tab_view { min-height: 212px; background-color: red; } 
}

@media only screen and (max-width: 320px) and (orientation:portrait) { 
    #tab_view { min-height: 376px; background-color: yellow; } 
    
     */
} 


/* `Tablets/netbooks styles
---------------------------------------- */
@media only screen and (min-width: 768px) { 
    body { }
}




/* `Desktop devices styles
---------------------------------------- */
@media only screen and (min-width: 721px) and (max-width: 820px) { 
    
    .channel_input div.input-helper div.input-helptext-container {font-size: 80%; width:370px;}
    .channel_input div.input-helper .commands-container, .channel_input div.input-helper .formatting-container {width:160px;}
    .create-shown .home-create {overflow-y:auto;}
    div#user_settings_display {overflow-y:auto;}
    div.yarn-sidebar {overflow-y:auto;overflow-x: hidden;}
    }
    
    
@media only screen and (min-width: 720px) { 
    
    html { overflow: hidden; }
    body { background-color: #e9e9e9;}

    .mobile-hidden { display: block; }
    
    /* YUI Scroller */
    .yui3-scrollview { position: relative; top: auto; bottom: auto; left:auto; right: auto; overflow-y: auto; }

    /* Helpers */
    .clear { clear: both; height: 0px; }
    .offscreen { position: absolute; left: -9999px; }
    .required { color: #fe5050; }
    .tiptext { font-size: 77%; color: #777; }
    
    /* Font settings */
    body, button, input, select, textarea { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; color: #333; }
   
    /* Messaging */
    #sol_message_container { top: 11px; left: 50%; margin-left: -300px; width: 600px; right:auto; text-align: center; z-index: 10; }
    
    /* Headers */
    h1 {  }
    h2 {  }
    h3 { font-size: 100%; text-align: left; color: #58595b; text-transform: uppercase; border-bottom: solid 1px #ddd; line-height: 29px; padding-left: 10px; margin: 0; letter-spacing: .5px; }
     
    
    /* Form elements */ 
    label, legend { font-weight: bold; display: block; margin-top: 10px; }
    label.radio { font-weight: normal; display: inline; margin-top: auto; }
    .form-error { font-weight: bold; color: red; }
     
     
    #tab_view { background-color: #fff; position: fixed; top: 108px; left: 30px; right: 30px; bottom: 40px; border: solid 1px #ddd; margin: 0; }
    
    .yarn-header { background-color: #673a93; color:#fff; position:fixed; top:0; width:100%; z-index: 1; height: 53px; }
    .yarn-header-inner { margin:5px;; border: 1px dashed #7e53a9; line-height: 40px; }
    .yarn-header-left { width: auto; margin: 0px; line-height: normal; }
    .yarn-header-title { display: none; }
    .yarn-header-logo { background: none;  margin: 0 0 0 20px; background: transparent url(../images/yarn-logo.png) no-repeat left top; width: 100px; }
    .yarn-header-logo a { width: 100px; display: block; text-indent: -9999px; margin: 0; font-size: 100%; line-height: 42px; }
    .yarn-header-right { float:right; text-align: right; margin-right: 25px; font-size: 100%; }
    .yarn-header-settings { display: inline-block; background: none; margin: 0; width: auto; overflow: visible; }
    .yarn-header-settings a {  text-indent: 0; width: auto; color: #00ABE2; font-size: 80%; }
    .yarn-header-users { background: none; margin: 0; display: none !important; }
    .yarn-header-users a {  text-indent: 0; }
    .yarn-header-user-name { display: inline-block;  margin: 0 5px 0 10px; }
    .yarn-header-mobile-actions { display: none; }
    
    
    
    /* Homescreen */
    
    .home-available { display: block; background-color:#fff; position: fixed; top: 109px; bottom: 41px;}
    .home-active { display: block; background-color:#fff; position: fixed; top: 109px; bottom: 41px; }
    .home-create { display: block; background-color:#fff; position: fixed; top: 109px; bottom: 41px; }
        
    .home-available-content, .home-active-content { position: fixed; top: 139px; bottom: 41px; overflow-x: hidden; overflow-y: auto; }
    .home-create-content { padding: 10px;}
        
    .create-shown { }
    .create-shown .home-available { width: auto;  left: 31px; right: 66.6%; }
    .create-shown .home-active { width:auto; left: 33.5%; right: 33.5%; border-left: solid 1px #ddd; }
    .create-shown .home-create {  width: auto; left: 66.5%; right: 31px; border-left: solid 1px #ddd; background-color: #f2f2f2; z-index: 2;
    -moz-box-shadow: 0px 0px 6px #aaa;
    -webkit-box-shadow: 0px 0px 6px #aaa;
    box-shadow: 0px 0px 6px #aaa; }
    .create-shown .home-available-content { left: 31px; right: 66.5%; } 
    .create-shown .home-active-content { left: 33.5%; right:33.5%; }
    
    .create-hidden { }
    .create-hidden .home-available { width: auto;  left: 31px; right: 50.1%; }
    .create-hidden .home-active { width: auto; left: 49.9%; right: 31px; border-left: solid 1px #ddd;  }
    .create-hidden .home-available-content { left: 31px; right: 50.1%; border-right: solid 1px #ddd; } 
    .create-hidden .home-active-content { left: 50%; right: 31px; }
    .create-hidden .home-create { width: 0%; border: none; display: none; }
    .create-hidden .home-create-content { display: none; }
    
    /* Home screen: create thread panel */
    
    .home-create input, 
    .home-create textarea { width: 98%; margin-bottom: 10px; }
    .home-create fieldset { margin-top: 10px; }
    .home-create fieldset input { width: auto; margin-bottom: auto; }
    .home-create p.tiptext { padding-left: 23px; margin-bottom: 10px; }
    .home-create p.outdent { padding-left: 0px; margin-top: -8px; }
    
    .home-available li.loaded_thread { background-color: #fff; display: none; }
    
    .home-active .create-tab-new { display: block; position: absolute; right:10px; top: 0px; width: auto; line-height: 29px; font-size: 11px; text-align:center; z-index: 1; }
    .home-create .create-tab-close { position: absolute; right:10px; top: 0px; width: auto; line-height: 29px; font-size: 11px; text-align:center; z-index: 1; }
    
    .create-tab-new a { text-decoration: none; }
    .create-tab-close a { color: #999; }
    .create-tab-close a:hover { color: #fe5050; text-decoration: none; }
    
    /* Homescreen: Thread List */
    #thread_list_container { background-color: #fff; margin: 0; padding: 0px; position: fixed; top: 120px; right: 40px; left: 40px; bottom: 45px; overflow-y: auto; overflow-x: hidden; /*border: solid 1px #ddd;*/
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }
           
    #thread_list_display { }
    
    #thread_list_display ul { margin-bottom: 0; }
    #thread_list_display li {  list-style: none; padding: 5px 10px 5px 27px; /*float: left; width:100px; height: 100px;*/ margin: 0px; border-bottom: solid 1px #f5f5f5; overflow: hidden; height: 55px; position: relative; }
    
    #thread_list_display li.public {} 
    #thread_list_display li.private { }
    #thread_list_display li.private.alert { background: transparent url(../images/desktop/lock-small.png) no-repeat 10px 7px; }
        
    #thread_list_display li a { display: inline-block; line-height: 18px; text-decoration: none; white-space: nowrap; text-indent: 0; font-size: 100%; }
    #thread_list_display li span { width: auto; overflow:visible;}
    
    #thread_list_display .thread-status-private { position: absolute; top: 5px; left: 10px; display: none; }
    #thread_list_display .thread-status-private img { height: 10px; }

    #thread_list_display .private .thread-status-private { display: inline; position: absolute; top: 4px; left: 10px; }
             
    #thread_list_display .thread-meta { font-size: 9px; color:#999; display:block; overflow:hidden; padding: 0; }
    #thread_list_display .thread-meta strong { color: #58595b; font-weight: bold; text-transform: uppercase; }
    
    #thread_list_display .thread-meta-count { margin-right: 20px; }
    #thread_list_display .thread-meta-activity { margin-right: 20px; }
    #thread_list_display .thread-meta-message-alert { display:none; background: transparent url(../images/desktop/message-tiny.png) no-repeat 0 50%; padding-left: 14px; color: #ef3e36; }
    #thread_list_display .thread-meta-message-notify { display:none; background: transparent url(../images/desktop/message-tiny.png) no-repeat 0 50%; padding-left: 14px; color: #39b54a; }
    
    #thread_list_display li.alert .thread-meta-message-alert { display: inline; }
    #thread_list_display li.notification .thread-meta-message-notify { display: inline; }
    
    #thread_list_display .thread-meta-new-added { display:none; color: orange; }
    #thread_list_display li.added .thread-meta-new-added { display: inline; } 

    #thread_list_display .thread-topic { font-size: smaller; color:#666; overflow:hidden; padding: 0; margin-bottom: 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    #thread_list_display .thread-topic strong { color: #000; font-weight: bold; }
        
    /* Tab Navigation */
    .yarn-tab-navigation { position: fixed; top:62px; left: 30px; right: 30px; height: 30px; width: auto; display: block; background-color: #e9e9e9; border-top: solid 15px #e9e9e9; }
    .yarn-tab-navigation div, .yarn-tab-navigation li  { display: inline-block; }
    
    .yarn-tab-navigation li { list-style: none; 
    border-top: solid 1px #ddd; 
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;  
    }
    
    .yarn-tab-navigation li.current { border-bottom: solid 1px #fff; }
    
    .yarn-tab-navigation li.first { border-left: solid 1px #ddd; }
    
    .yarn-tab-navigation li.first.current a { background-color: white; } 
    
    .yarn-tab-navigation > a , #channel_tabs .tab { background-color: #f1f1f1; line-height: 30px; float: left; }
    
    #channel_tabs li.current.first a { background: #fff url(../images/desktop/house.png) no-repeat 10px center; padding-right: 10px; } 
    
    #channel_tabs a.home { text-indent: -999px; width: 15px; background: #f1f1f1 url(../images/desktop/house.png) no-repeat 10px center; padding-right: 10px !important; }  
    #channel_tabs a:hover.home { background-color: #f9f9f9; }
    #channel_tabs a:hover.home.current { background-color: #fff; }
    
    .yarn-tab-navigation > a:hover , #channel_tabs .tab:hover { background-color: #f9f9f9; }
    .yarn-tab-navigation a.current, #channel_tabs .tab.current { background-color: #fff; }
    
    #channel_tabs a { padding: 0; color: #888; float: left; }
    #channel_tabs a:hover { text-decoration: none; color: #555; }
    
    #channel_tabs .current a { color: #222; }
    #channel_tabs .notification a { color: #39b54a; }
    #tab_list .notification a { color: #39b54a; }
    #channel_tabs .alert a { color: #ef3e36; }
    #tab_list .alert a { color: #ef3e36; }
    #channel_tabs .added a { color: aqua; }
    #channel_tabs a.open_thread { padding: 0 10px 0 10px; }
    #channel_tabs a.leave-channel { display: inline-block; width: 10px; text-align: right; color: #ccc; padding-right: 8px; }
    #channel_tabs a:hover.leave-channel { color: #000; text-decoration: none; }
    #channel_tabs a.thread-name-display { display: inline-block; max-width: 130px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
        
    /* Sidebar */
    .yarn-sidebar {  top: 109px; bottom: 41px; right: 31px; width:238px; padding: 10px; background-color: #fff; display: block; border-left: solid 1px #ddd; }
    
    .yarn-sidebar-actions a, .yarn-sidebar-actions span { line-height:30px; width:30px; position:absolute; border-left: solid 1px #ddd; border-bottom: solid 1px #ddd; text-indent:-9999px; display:block; }
    .yarn-sidebar-actions a.thread-public, .yarn-sidebar-actions span.thread-public  { background: #f9f9f9 url(../images/desktop/unlock.png) no-repeat 39% 50%; }
    .yarn-sidebar-actions a.thread-private, .yarn-sidebar-actions span.thread-private  { background: #f9f9f9 url(../images/desktop/lock.png) no-repeat 50% 50%; }
    .yarn-sidebar-actions a.thread-history { background: #f9f9f9 url(../images/desktop/calendar.png) no-repeat 50% 50%; }
    .yarn-sidebar-actions a.thread-delete { background: #f9f9f9 url(../images/desktop/trash.png) no-repeat 50% 50%; }
    
    .yarn-sidebar-actions a.thread-public-static, .yarn-sidebar-actions span.thread-public-static  { background: #f9f9f9 url(../images/desktop/unlock-grey.png) no-repeat 42% 50%; }
    .yarn-sidebar-actions a.thread-private-static, .yarn-sidebar-actions span.thread-private-static  { background: #f9f9f9 url(../images/desktop/lock-grey.png) no-repeat 50% 50%; }
    .yarn-sidebar-actions span.thread-personal-static  { background: #f9f9f9 url(../images/desktop/lock-grey.png) no-repeat 50% 50%; }
    
    .yarn-sidebar-thread-settings { margin-bottom: 1.5em; line-height: 35px; padding-left: 30px; }
    .yarn-sidebar-thread-settings a { font-size: smaller; }
    
    .yarn-sidebar-thread-settings.public { background: #ddd url(../images/desktop/group.png) no-repeat 5px 50%;  }
    .yarn-sidebar-thread-settings.private { background: #ddd url(../images/desktop/lock.png) no-repeat 10px 50%; }
    
    .yarn-sidebar-thread-meta { width: 208px;  }
    .yarn-sidebar-thread-meta h1 {margin: 0 0 8px 0; padding: 2px; border: solid 1px #fff; font-size: 140%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .yarn-sidebar-thread-meta-edit h1:hover { background-color: lime; border: solid 1px #ede690; background-color: #fff799; cursor: pointer; }
    .yarn-sidebar-thread-meta p { margin: 0;  padding: 2px; border: solid 1px #fff; }
        
    .yarn-sidebar-thread-meta input, .yarn-sidebar-thread-meta textarea { width: 200px; max-width: 200px; border: solid 1px #777; }
    .yarn-sidebar-thread-meta input { padding: 0 1px; }
    .yarn-sidebar-thread-meta textarea { height: 37px; resize: none; }
    
    .yarn-sidebar-user-list { border-top: solid 1px #eee; padding-top: 15px; width: 238px; position: fixed; top: 290px; overflow-y: auto; bottom: 50px; right: 40px; }
    .yarn-sidebar-show-users { display: none; }
    
    p.thread_topic_panel { overflow: hidden; text-overflow: ellipsis; height: 40px; }
    p.thread_managers_panel { height: 30px; }
    p.thread_topic_panel.edit:hover, p.thread_managers_panel.edit:hover {  border: solid 1px #ede690; background-color: #fff799; cursor: pointer; }
    
    /* Delete confirmation dialog */
    
    .yui3-overlay-mask { background-color:rgba(0,0,0,0.25); }
    
    div.yui3-popin { background: #888; padding: 10px; width: 500px; text-align: left; -webkit-box-shadow: 0px 0px 6px #aaa; -moz-box-shadow: 0px 0px 6px #aaa; box-shadow: 0px 0px 6px #aaa; }
    div.yui3-widget-hd { background: white; padding: 10px; }
    div.yui3-widget-hd h2 { font-weight: bold; color: black; font-size: 116%; margin: 0; }
    div.yui3-widget-bd { background: white; padding: 10px 10px 20px 10px; }
    div.yui3-widget-bd p { margin-bottom: 0; }
    div.yui3-widget-ft { padding: 0 10px 20px 10px; background-color: #fff; }
    
    div.yui3-widget-ft button {
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 12px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00ABE2), to(#017ea6));
    background: -moz-linear-gradient(top, #00ABE2, #017ea6);
    line-height: normal !important;
    border: none;
    }
    div.yui3-widget-ft button:hover { background: #017ea6; cursor: pointer; }
    
    div.yui3-widget-ft button.link { color: #666; line-height: 26px; margin-left: 10px; background: none; }
    div.yui3-widget-ft button.link:hover { color: #222; cursor: pointer; }
    
    /* Sidebar: User Profile */
    .yarn-user-profile { background-color:#888; padding: 10px; width: 230px; position:absolute; z-index:10; font-size: 80%; left: -205px; padding: 10px;
    -webkit-box-shadow: 0px 0px 6px #aaa;
    -moz-box-shadow: 0px 0px 6px #aaa;
    box-shadow: 0px 0px 6px #aaa;
    }
    
    .yarn-user-profile a { font-size: 120%; font-weight: bold; margin: 0; }
    .yarn-user-profile p { color: #aaa; }
    .yarn-user-profile-avatar { width: 60px; float:left; }
    .yarn-user-profile-meta { width: 140px; float:right; }
    
    /* Posts */

    .yarn-artifact-left { width: 90px; float:left; margin-top: 2px; }
    .yarn-artifact-right { margin-left: 90px; margin-right: 30px; }
    
    
    .yarn-artifacts { margin-right: 0; position: fixed; overflow-y: auto; top: 120px; left: 40px; bottom: 155px; right: 300px; border: solid 1px #ddd; } 
    .yarn-artifacts li { border-bottom: dashed 1px #f1f1f1; padding: 7px; }
    
    h3.artifact_date { text-align: left; font-weight: normal; font-size: 100%; color: #000; margin: -7px; padding: 7px 10px; text-transform: uppercase; border-bottom: none; line-height: inherit; letter-spacing: inherit; }
    .artifact_timestamp { width: 50px; float: left; text-align: left; }
    .artifact_content { margin: 3px 0 0 0 ; overflow: hidden; text-overflow: ellipsis; padding-bottom: 1px; }
    
    .artifact_content img { margin: 0; }
    .artifact_user { }
    .artifact_user_id { color: #888; font-weight: normal; }
    
    .artifact_topic { margin: 3px 0 0 0 ; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #aaa; }
    
    .artifact_topic em { font-weight: bold; margin-left: 5px; color: #000; }
    
    .yarn-sidebar ul { padding: 0; }
    .yarn-sidebar .user_name { display: inline; }
    .yarn-sidebar .user_id { display: block; }
    
    
    .yarn-sidebar .user_avatar { margin-right: 10px; width: 30px; height: 30px; overflow: hidden; display: inline-block; }
    
    /*.yarn-sidebar .user_avatar img { width: 30px; height: 30px; margin-bottom: 0; }*/
    
    /* Miscellaneous */
    
    .yarn-return-thread { position: absolute; right: 10px; top: 10px; text-transform: lowercase; font-size: 10px; padding-right: 17px; background: transparent url(../images/desktop/message-small.png) no-repeat 100% 50%; }
  
    
    /* Footer */
    .yarn-footer { display: block; position: fixed; bottom: 0; left: 0; right: 0;  line-height: 25px; background-color: #888; color: #fff; z-index: 1; border-top: solid 10px #e9e9e9; }
    .mobile-tabs { display: none; }
    .copyright { display: block; }

    .thread_top_padding { height: 100px; display: none; }

    #user_list_container { background-color: #fff; margin: 0; padding: 0; position: fixed; top: 120px; right: 40px; left: 40px; bottom: 45px; overflow-y: auto; border: solid 1px #ddd;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    }
    #user_list_container li { border: none; }
    #user_list_container .user_avatar img { width: 55px; }
    
    .yarn-popin-arrow { position:absolute; bottom:-25px; right: 10px; }
    
    /* Thread Settings */
    
    .yarn-thread-settings { position: fixed; overflow-y: auto; top: 151px; bottom: 51px; right: 41px; left: 41px; padding: 20px 10px 10px 10px;}
     
    #thread_settings_panel { background-color: #f2f2f2; margin: 0; padding: 0; position: fixed; top: 120px; right: 40px; left: 40px; bottom: 50px; overflow-y: auto; border: solid 1px #ddd;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; 
    -webkit-box-shadow: 0px 0px 6px #aaa;
    -moz-box-shadow: 0px 0px 6px #aaa;
    box-shadow: 0px 0px 6px #aaa; }
    
    #thread_settings_panel h1 { font-size: 160%; margin-bottom: 1.25em; }
    #thread_settings_panel p.security-instructions { position:relative; color:#fff; z-index: 0; padding: 10px 220px 0 10px; background-color: #7F7E83; display:block; margin-bottom: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px; }
    p.security-instructions em { font-weight: bold; font-style: normal; }
    
    /* Thread History */
    
    .yarn-history { background-color: #f2f2f2; margin-right: 0; position: fixed; overflow-y: hidden; top: 120px; left: 40px; bottom: 50px; right: 300px; border: solid 1px #ddd; 
    -webkit-box-shadow: 0px 0px 6px #aaa;
    -moz-box-shadow: 0px 0px 6px #aaa;
    box-shadow: 0px 0px 6px #aaa; } 
    .yarn-history-thread { position: fixed; overflow-y: auto; top: 151px; bottom: 51px; right: 301px; left: 41px; }
    .yarn-history-thread li { border-bottom: none; padding: 10px; list-style: none; }
    
    
    /* Searching thread history */
    .history-search-term { font-style: italic; text-transform: uppercase; }
    div.search-input-widget { margin-top:230px; border-top: solid 1px #ddd; padding-top: 10px; }
    div.search-input-widget .tiptext, 
    div.search-input-widget .tiptext input { font-size: 93%; color: #777; }


    
    /* User Settings */
    
    #user_settings_display { background: #fff; margin: 0; padding: 0; width:400px; position: fixed; top: 109px; bottom: 41px; left: 31px; border-right: solid 1px #ddd; z-index: 2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; 
    -webkit-box-shadow: 0px 0px 6px #aaa;
    -moz-box-shadow: 0px 0px 6px #aaa;
    box-shadow: 0px 0px 6px #aaa; }

    #user_settings_display img { margin: 0 0 -3px 0; }
    .gecko #user_settings_display img { margin: 0 0 -4px 0; }
    
    #user_settings_display textarea { width: 98%; resize: vertical; min-height: 80px; max-height: 200px; }    
    #avatar_crop_interface { position: fixed; left: 442px; top: 120px; right: 40px; bottom: 50px; overflow:auto; border: solid 1px #555; }
    #avatar_crop_interface img { margin: 0; max-width: none; }
    
    #avatar_crop_interface img[id] + p.yarn-avatar-crop { display: block !important; } /* tricky css to show/hide avatar default message */
    .yarn-avatar-crop { width: 75%; position: absolute; left: 50%; margin-left: -40%; line-height: 20px; top: 50%; margin-top: -10px; text-align: center; color: #aaa; }
             
    /* Thread Input */
    .channel_input { position: fixed; height: 110px; bottom: 36px; left: 30px; right: 300px; background-color: transparent; }    
    .channel_input .channel-textarea { position: absolute; z-index: 2; left: 0; right: 16px; }
    .channel_input textarea { height: 51px; width: 100%; max-width: 100%; padding: 0; resize: none; border: solid 1px #777; }
    
    
    /* Thread Input - commands display */
    .channel_input .yui3-aclist-content { display:block; background-color: #888; padding: 10px;
    -webkit-box-shadow: 0px 0px 6px #aaa;
    -moz-box-shadow: 0px 0px 6px #aaa;
    box-shadow: 0px 0px 6px #aaa; }
    
    .channel_input .yui3-aclist-content ul { background-color: #fff; max-height: 400px; max-width: 500px; overflow-y: auto; }
    
    .channel_input .yui3-aclist-content img { margin: 0; }
    .channel_input .yui3-aclist-item { padding: 3px 5px; overflow: hidden; }
    
    .channel_input .yui3-aclist-item-active { background-color: #f1f1f1; } 
    .channel_input .yui3-aclist-item-hover { background-color: #f1f1f1; } 
    
    
    .channel_input .command_name { font-weight: bold; color: #000; }
    .channel_input .command_description { text-transform:lowercase; font-size: smaller; color:#777; }
    
    .channel_input .person_name {text-transform:lowercase; font-size: smaller; color:#777; }
    .channel_input .person_img { margin-right: 5px; }
    
    .channel_input .login_name { font-weight: bold; color: #000; }
    
    .channel_input .thread_match { overflow-x: hidden; text-overflow: ellipsis; } 
    .channel_input .thread_name, .channel_input .thread_description { display: inline; white-space: nowrap; }
    .channel_input .thread_name { font-weight: bold; color: #000; margin-right: 8px; }
    .channel_input .thread_description {text-transform:lowercase; font-size: smaller; color:#777; white-space: nowrap; }
    
    .channel_input .channel-topic { width: auto; padding: 0 20px 0 10px; line-height: 25px; border: solid 1px #f5f5f5; font-size: 85%; display: inline-block; margin-left: 10px; max-width: 90%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    .channel_input .channel-topic strong { font-weight: bold; color: #aaa; }
    .channel_input .channel-topic span { color: #444; margin-left: 10px; }
    
    .channel_input .channel-sub-actions { width: 25px; position:absolute; right: 0; top: 37px; }
    .gecko .channel_input .channel-sub-actions { top: 42px; }
    
    .channel_input .channel-upload {  position: absolute; height: 35px; position: absolute; height: 84px; left: 10px; border: solid 1px #777; bottom: 20px; right: -2px; z-index: 3; background: #fff; padding: 2px; }
    
    /* Thread input - uploaded files container */
    .channel_input .upload-container { display: block; }
    div.uploaded-file { margin-bottom: 12px; }
    div.uploaded-file img { margin-bottom: 0; }
    .uploaded-file .remove_upload_file { margin-left: 10px; }
    
    .yarn-upload-button { background: #fff url(../images/desktop/paper-clip.png) no-repeat 50% 50%; line-height: 25px; width: 25px; display: block; text-indent: -9999px; border: solid 1px #ddd; }


    /* Thread input - help widget */   
    .channel_input .input-helper { display: block; position: absolute; border: solid 1px #ddd; width: 25px; top: 26px; }    
    .channel_input .input-helper span.input-helper-instruction { line-height: 25px; width: 25px; display: block; text-align: center; background: #fff url(../images/desktop/lightning.png) no-repeat 50% 50%; text-indent: -9999px; }
    .channel_input .input-helper div.input-helptext-container { background: #888; padding: 10px; width: 540px; position: absolute; bottom: 30px; right: -7px; height: 285px; z-index: 10; 
        line-height: auto; text-align: left; 
        -webkit-box-shadow: 0px 0px 6px #aaa;
        -moz-box-shadow: 0px 0px 6px #aaa;
        box-shadow: 0px 0px 6px #aaa; }
    .channel_input .input-helper span.help-header { width: 265px; display: inline-block; margin-right: 10px; }
    .channel_input .input-helper .commands-container,
    .channel_input .input-helper .formatting-container { background: white; display: inline-block; width: 245px; padding: 10px; }
    
    .input-helper .commands-container { float:left; margin-right: 10px; }
    
    .input-helper .formatting-container { float: left; }
    
    .channel_input .input-helper dd { font-size: 85%; color: #777; margin-left: 15px; margin-bottom: 8px; }
    
    .commands-container h3, .formatting-container h3 { padding: 0; margin-bottom: 10px; text-transform: none; color: #333; font-weight: bold; line-height: 20px; }
    
    
    /* Dev Toolbar */
    
    .soldevtoolbar { display: block; right: 0px; line-height: 25px; padding: 0; z-index: 10000; }
    
    /* Dafault Buttons */
    
    .yarn-action-container { margin-top: 15px; }
    
    .yarn-action-container button, 
    .yui3-popin button {
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 12px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00ABE2), to(#017ea6));
    background: -moz-linear-gradient(top, #00ABE2, #017ea6);
    line-height: normal;
    }
    .yarn-action-container button:hover { background: #017ea6; cursor: pointer; }
    
    .yarn-action-container .link { color: #666; line-height: 26px; margin-left: 10px; }
    .yarn-action-container .link:hover { color: #222; cursor: pointer; }
    
    /* YUI Calendar Overrides */

    .yui-skin-sam .yui-calcontainer { border: solid 1px #ddd; width: 217px; }
    .yui-skin-sam .yui-calcontainer table { width: 100%;} 
    .yui-skin-sam .yui-calcontainer thead tr { border-bottom: solid 1px #ddd; }
    .yui-skin-sam .yui-calendar td.calcell.oom { background-color: #ddd; }
      
    /* Info Message Link and Popin -- copied over from boilerplate main.css */
    .info-message-alert { margin-left: 5px; display: inline; } 
    .info-message-alert a { color:#0084b5; font-size:85%; font-weight:normal; }
    
    .yui-skin-sam div.info-message-dialog .bd {
    background-color: #ffffff;
    border: 3px solid #bee3fb;
    padding: 10px 15px 5px 8px;
    margin-top: 5px;
    max-width: 370px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    color:#333333;
    }
    
    .info-message-dialog .bd h4 {
    color:#57ac1e;
    font-size: 100%;
    }
    
    .info-message-dialog .bd p {
    font-size: 95%;
    margin-bottom:.5em;
    }
    
    .info-message-dialog .bd ul, .info-message-dialog .bd ul li, .info-message-dialog .bd ol, .info-message-dialog .bd ol li {
    font-size: 95%;
    margin-bottom:.5em;
    margin-left:10px;
    }
    
    
    .info-message-dialog .bd a {
    color: #0084b5;
    }
    
    
    .info-message-dialog .bd a.container-close {
    background-image: url(../images/container-close_blue.gif);
    background-position: top right;
    margin-top: 5px;
    }
    
    
    .info-message-dialog .bd span.knob_blue{
    display: block;
    position: absolute;
    background: transparent url(../images/knob_blue.gif) no-repeat scroll
    0 0;
    width: 10px;
    height: 5px;
    top: 0px;
    left: 10px;
    }
    
    .info-message-dialog { left:455px; } /* note: override this in tool (as necessary) for positioning of dialog */

    
    /* Group Manager Overrides */
    .yui-panel, .yui-panel .bd { overflow: visible; }
    .yarn-group-container { margin-top: -23px; }
    .yarn-group-container, #cc_group_details { font-family: Verdana,Arial,helvetica,clean,sans-serif !important; }
    #cc_group_details h2 { font-size: 120%; font-weight: bold; }
    .sol_form_label_block { display: block; font-weight: bold; font-size: 85%; margin: 0 0 4px 0; }
    
    .gm-group-tools-used { display: none; }
    .gm-group-details-content { color: #333; overflow: visible; }
    .gm-group-details-content img { margin: 0; }
    
    .gm-group-details-content .sol_error_notification_text { font-weight: bold; color: red; font-size: smaller; }
    .gm-group-details-content h4 { font-weight: bold; }
    
    .cc-list-header.group_selector_list_header, .cc-list-header { padding: 0 !important; height: 26px; background-color: none; }
    .cc_group_selector_header { line-height: 20px; padding: 3px 10px; }
    
    .cc-list-header .list_heading { display: none; }
    .cc-list-header .list_heading h4 { margin: 0; }
    .cc-browse-header { margin: 0; line-height: 26px; width: auto; position: absolute; right: 20px; z-index: 2; }
    
    .cc-list-body { margin-bottom: 0; min-height: 100px; }
        
    .yui-skin-sam .yui-resize .yui-resize-handle, .cc-list-header.group_selector_list_header { background-color: transparent; }
    
    .cc-create-header a { line-height: 16px; }
    
    #results_account_content_container, #results_cc_group_details, #ac_results_person_container { z-index: 9999; }
    .yui-ac-content { background-color: #fff; border: solid 1px #222; }
    .yui-ac-content li { list-style: none; padding: 2px 6px; }
    
    .cc-selected-list-container span.action_button { font-size: smaller; }
    
    .gm-group-details-dialog .gm-group-members-container ul { margin-bottom: 0;}
    
    .batch_add_container { background-color: #eee; border: solid 1px #ddd; padding: 12px; }
        
    /* Overrides group details popin - fixes breakage from calendar widget */
    .yui-skin-sam .yui-panel {position:relative;left:0;top:0;border-style:solid;border-width:10px;border-color:#888;z-index:1;*border-width:10px;*zoom:1;_zoom:normal;} 
    .yui-skin-sam .yui-panel-container.shadow .underlay { display: none; }
    .yui-skin-sam .yui-panel .hd,.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{ border-style:none; border-width:0; border-color:transparent; margin:0 -1px;*margin:0;*border:0;} 
    .yui-skin-sam .yui-panel .hd{border-bottom: none;} 
    .yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{background-color:#fff;} 
    .yui-skin-sam .yui-panel .hd{padding:0 10px;font-size:93%;line-height:2;*line-height:1.9;font-weight:bold;color:#000;background:none; }
    .yui-skin-sam .container-close{ position: absolute; top: 3px; right: 0px; height: 16px; width: 16px; background: url(/images/container-close_dialog_blue.gif) no-repeat 0 0; cursor: pointer; text-indent: -10000em; text-decoration: none;}
    
    /* Overrides group manager button styles */
    .gm-group-actions-create button.create_group { 
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 12px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00ABE2), to(#017ea6));
    background: -moz-linear-gradient(top, #00ABE2, #017ea6);
    line-height: normal;
    }
    
    .gm-group-actions-create button.create_group:hover { background: #017ea6; cursor: pointer; }
        
    .gm-group-actions-create button.cancel_create_group { background-color: white; border: none; color: #666; line-height: 26px; margin-left: 0px; font-size: 100%;  }
    .gm-group-actions-create button.cancel_create_group:hover { color: #222; cursor: pointer; }

    /* Overrides date range picker container */
    .custom_history_panel .underlay { display: none !important; }
    .custom_history_panel .container-close { display: none !important; }
    .custom_history_panel .yui-panel { padding: 0 !important; border: none; width: 257px;  
    -webkit-box-shadow: 0px 0px 6px #aaa;
    -moz-box-shadow: 0px 0px 6px #aaa;
    box-shadow: 0px 0px 6px #aaa;}
    
    /* Overrides calendar widget highlights */
    .yui-skin-sam .yui-calendar td.calcell.today { background-color: black; }
    .yui-skin-sam .yui-calendar td.calcell.today.oom { background-color: #ddd; }
    
    .yui-skin-sam .yui-calendar td.calcell.today.highlight1 a { background-color: #CF9; }
    .yui-skin-sam .yui-calendar td.calcell.today.selected a { background-color: #B3D4FF; }
    .yui-skin-sam .yui-calendar td.calcell.today.selectable a:hover { background-color: #426FD9; }
    
    
} 


    /* Denied browser screen */
    div.denied-browser-container { padding: 18px; }
    .denied-browser-header { font-size: 153.9%; font-weight: bold; margin-bottom: 1.625em; }
    .denied-browser-text { font-size: 108%; margin-bottom: 1em;}
    ul.denied-browser-text { padding-left: 20px; }


/* `Print styles
---------------------------------------- */
@media print {
    * {
    background: transparent !important;
    color: black !important; /* The woes of CSS color in print typography: sanbeiji.com/archives/953 */
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    }
    a, a:visited {
    color: #222 !important;
    text-decoration: underline;
    }
    a[href]:after {
    content: " (" attr(href) ")";
    }
    abbr[title]:after {
    content: " (" attr(title) ")";
    }
    /* Do not show javascript and internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; 
    }
    /* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
    thead {
    display: table-header-group;
    }
    tr, img {
    page-break-inside: avoid;
    }
    @page {
    margin: 0.5cm;
    }
    p, h2, h3 {
    orphans: 3;
    widows: 3;
    }
    h2, h3 {
    page-break-after: avoid;
    }
}


.artifact_upload_chooser {
    visibility:hidden;position:absolute;top:-50;left:-50
}

.upload_file_info { overflow-y: scroll; height: 84px; }

.day_with_artifacts { background-color: #cf9; }
.day_with_artifacts a.ui-state-default { background: #cf9; }
.day_with_artifacts.ui-datepicker-current-day a.ui-state-default { background: #b3d4ff; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled.ui-datepicker-today, .ui-widget-header .ui-state-disabled.ui-datepicker-today { border: 1px solid black; }

#messaging { position: absolute; left: 50%; top: 0px; z-index: 2 }
#new_private_chat_open { height: 2em; width: 100%; background-color: #c33; }

#error_contacting { position: absolute; left: 0px; top: 0px; z-index: 2 }
#error_periodic { height: 2em; width: 100%; background-color: #33cccc;}
#error_uploading { height: 2em; width: 100%; background-color: #33cccc;}
#error_posting_text { height: 2em; width: 100%; background-color: #33cccc;}

#main {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 70px;
    bottom: 40px;
}

.ui-tabs .ui-tabs-nav li a.close_thread_tab { padding: .5em 0 }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a.close_thread_tab { cursor: pointer; }

.open_help_icon .formatting_help_text { display: none; }
.open_help_icon:hover .formatting_help_text { display: block; }

.formatting_help_text {
position: absolute;
right: 0px;
bottom: 0px;
width: 540px;
height: 400px;
z-index: 5;
}

.formatting_background { background: gray;
position: absolute;
bottom: 24px;
right: 0px;
}

.formatting_help_text .commands-container { float: left; width: 245px; }
.formatting_help_text .formatting-container { float: left; width: 245px;}

.commands-container { background-color: white; margin: 10px;}
.formatting-container { background-color: white; margin: 10px;}

.yarn-help-popin-arrow {
position: absolute;
right: 0px;
bottom: 12px;
}


.artifact-oversized {
    height: 80px;
}

.artifact_content { position: relative; }

.artifact_overflow_show_more { display: none; background-color: red;  position: absolute; top: 60px; height: 20px; width: 100% }
.artifact_overflow_show_less { display: none; }

.artifact-oversized .artifact_overflow_show_more { display: block;}

.artifact-oversized.showing_more { height: auto; }
.artifact-oversized.showing_more .artifact_overflow_show_more { display: none;}
.artifact-oversized.showing_more .artifact_overflow_show_less { display: block;}



