<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yarn 3</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
            
    <!-- favicon and mobile device icons-->    
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.pngg">

    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico" />
    
    <!-- windows8 - tile icon  & color -->
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}ico/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">
    
    <!-- ios webapps -->
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
            
    <!-- bootstrap 3 and mobile-first styles -->
    
    {% load compress %}
        
    {% compress css %} 
    <link rel="stylesheet" href="{{STATIC_URL}}css/vendor/bootstrap-3.0.0.min.css" type="text/css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/google_webfonts.css" type="text/css">

    <link rel="stylesheet" href="{{STATIC_URL}}css/offcanvas.less" type="text/less">
    <link rel="stylesheet" href="{{STATIC_URL}}css/mobile.less" type="text/less">
    
    {% if is_desktop %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/desktop.less" type="text/less">
    {% endif %}
    
    {% endcompress %}
        
    <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
        
    <script>
        yarn_headers = {
            normal: "Yarn",
            highlight: "* Yarn *",
            alert: ["* Yarn ****", "** Yarn ***", "*** Yarn **", "**** Yarn *", "*** Yarn **", "** Yarn ***"]
        };

        yarn_alert_terms = ['{{ login_name }}'];
        yarn_current_user = '{{ login_name }}';
        {% if use_websockets %}
            use_websockets = true;
            websockets_url = '{{ websockets_url }}';
            websockets_token = '{{ websockets_token }}';
        {% endif %}
                
         {% if is_desktop %}
            var mobile = false,
            desktop = true;
         {% else %} 
            var mobile = true,
            desktop = false;
         {% endif %}
         
    </script>

</head>
<body>
    {% csrf_token %}

    <div class="viewport" id="viewport">
    
        <aside class="sidebar">
            
            <!-- user profile avatar -->
            <div class="yarn-user clearfix">
                <!--<img class="yarn-user-avatar img-rounded" src="{{ avatar_url }}">-->
                <img class="img-rounded yarn-user-avatar" src="http://api.randomuser.me/0.2/portraits/men/9.jpg">
                <span class="yarn-header-user-name js_user_display_name_{{ login_name }}">{{ login_name }}</span>

                <span class="yarn-header-settings"><a href="javascript:void(0)" id="open_settings_dialog">edit profile</a></span>
            </div>
            
            <!-- tab controller list -->
            <ul id="myTab" class="yarn-tabs nav nav-tabs">
              <li class="active"><a href="#threads" data-toggle="tab"><span class="glyphicon glyphicon-list"></span></a></li>
              <li><a href="#people" data-toggle="tab"><span class="glyphicon glyphicon-user"></span></a></li>
              <li><a href="#archive" data-toggle="tab"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
            
            <!-- tab content container -->
            <div class="tab-content">
                
                <!-- tab contents: threads -->
                <div class="yarn-threads tab-pane active" id="threads">
                    <h2>Threads</h2>
                    <div>
                        <span class="label label-success" id="public_thread_menu"><a href="javascript:void(0);" class="show_public_threads">Public</a></span>
                        <span class="label" id="active_thread_menu"><a href="javascript:void(0);" class="show_active_threads">Active</a></span>
                        <span class="label" id="private_thread_menu"><a href="javascript:void(0);" class="show_private_threads">Private</a></span>
                    </div>
                    
                    <!-- render list of threads here -->
                    <div id="threads_list" style="margin-top:1.5em;">
                        <div class="loading">Loading...</div>
                    </div>
                    
                    <!--
                    <div class="input-group">
                      <input class="form-control input-small" type="text" placeholder="Find threads">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-small" type="button">Find</button>
                      </span>
                    </div>
                    -->
                    
                    <div id="new_thread_container" style="margin-top:1.5em;">
                        <a href="javascript:void(0);" class="create_new_thread_link">+ new thread</a>
                
                        <div id="new_thread_creation_panel" style="display: none;">
                            <h3>Create new thread</h3>

                            <div>Thread name:  <br />
                            <input type="text" id="new_thread_name" />
                            <span id="err_new_thread_name_required" style="display: none;">A name is required</span>
                            <span id="err_new_thread_dupe" style="display: none;">A thread already exists with that name</span>
                            <br />
                            Initial thread topic: <br/>
                            <input type="text" id="new_thread_topic" />
                            <br /><br />
                
                            <button class="submit_new_thread btn btn-primary btn-xs">Create</button>
                            <a href="javascript:void(0);" class="cancel_new_thread_create">Cancel</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <!-- tab contents: people -->
                <div class="yarn-people tab-pane" id="people">
                    <h2>PEOPLE</h2>
                    <div><span class="label label-success">In thread</span> <span class="label">All active</span></div>
                    
                    <!-- render list of users here -->
                    <div id="people_list" class="yarn-people-list" style="margin-top:1.5em;"></div>
                    
                </div>
                
                <!-- tab contents: archive/find -->
                <div class="yarn-archive tab-pane" id="archive">
                    <h2>FIND</h2>
                    <div>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Donec sed odio dui.</div>
                </div>
            
            </div>
            
        </aside>
        
        <section class="content">
      
            <!-- header container -->
            <div class="yarn-header">
                            
                <h1><span id="current_thread" class='yarn-current-thread-name'>Yarn</span></h1>
            
                <a href="javascript:void(0)" class="switch" style="color:#aaa"><span class="glyphicon glyphicon-align-justify"></span></a>
            </div><!-- end yarn-header -->
            
            <!-- content container -->
            <div id="tabs" class="yarn-content">
                
                <!-- render threads in here -->
                <div id="available_thread_list" class="content_area yarn-content-module"></div>
                
            </div><!-- end yarn-content -->
            
        </section>

    </div>

    <!-- jquery, bootstrap and javascripts -->
    {% compress js %}
    <script src="{{STATIC_URL}}js/vendor/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js/vendor/bootstrap-3.0.0.min.js"></script>
    <script src="{{STATIC_URL}}js/vendor/handlebars-1.0.0.min.js"></script>
    
    <script src="{{STATIC_URL}}js/offcanvas.js"></script>
    <script src="{{STATIC_URL}}js/main.js"></script>
    <script src="{{STATIC_URL}}js/handlebar_utilities.js"></script>
    <script src="{{STATIC_URL}}js/thread.js"></script>
    <script src="{{STATIC_URL}}js/thread_menu.js"></script>
    <script src="{{STATIC_URL}}js/thread_history.js"></script>
    <script src="{{STATIC_URL}}js/format.js"></script>
    <script src="{{STATIC_URL}}js/upload.js"></script>
    <script src="{{STATIC_URL}}js/typeahead.js"></script>
    <script src="{{STATIC_URL}}js/yarn.js"></script>
    <script src="{{STATIC_URL}}js/click_to_edit.js"></script>
    <script src="{{STATIC_URL}}js/errors.js"></script>
    <script src="{{STATIC_URL}}js/socketio.js"></script>
    
    {% endcompress %}
    
    {% include "handlebars/user/online_display.html" %}
    {% include "handlebars/thread_menu.html" %}
    {% include "handlebars/available_threads.html" %}
    {% include "handlebars/thread/initial_display.html" %}
    {% include "handlebars/thread/date_seperator.html" %}
    {% include "handlebars/thread/tab_display.html" %}
    {% include "handlebars/thread/artifact.html" %}
    {% include "handlebars/autocomplete.html" %}
    
    <div style="visibility: hidden;" id="offscreen_test_render"></div>


    <script>
        start_yarn();
    </script>
    
    
</body>
</html>
