<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% load compress %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}css/bootstrap.2.2.1.min.css"/>
        <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}css/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/yarn.css"/>
        {% endcompress %}
    </head>
    <body>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="main" class="content">
            <div id="tabs">
                <ul id="tab_list">
                    <li id="home_tab"><a href="#available_thread_list">Threads</a></li>
                </ul>
                <div id="available_thread_list">
                </div>
            </div>
        </div>

        {% compress js %}
            <script src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
            <script src="{{STATIC_URL}}js/jquery-ui.js"></script>
            <script src="{{STATIC_URL}}js/handlebars.js"></script>
            <script src="{{STATIC_URL}}js/handlebar_utilities.js"></script>
            <script src="{{STATIC_URL}}js/yarn.js"></script>
            <script src="{{STATIC_URL}}js/thread.js"></script>
            <script src="{{STATIC_URL}}js/format.js"></script>
        {% endcompress %}

        {% include "handlebars/available_threads.html" %}
        {% include "handlebars/thread/initial_display.html" %}
        {% include "handlebars/thread/tab_display.html" %}
        {% include "handlebars/thread/artifact.html" %}

        <script>
            start_yarn();
        </script>
    </body>
</html>
